extends html

block content
    .container
        p.question Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec sapien scelerisque, mollis justo at, cursus ante.

    hr

    .container
        .text-center
            .chosen
                span