doctype html
html
    head
        title= title
        link(rel="stylesheet", href="css/bootstrap.min.css")
        script(type="text/javascript", src="js/jquery.min.js")

        link(rel="stylesheet/less", type="text/css", href="less/index.less")

        script(type="text/javascript", src="js/less.min.js")
        script(type="text/javascript", src="js/coffee-script.js")
    body
        script(type="text/coffeescript", src="coffee/index.coffee")

        .container
            .jumbotron
                h1.title Paragraph Word Replacement
                p
                    ol
                        li Selections are subsequential.
                        li Punctuations acts as a stop.
                        li Reconstructed input width is based on total selected characters.

        .container
            .panel.panel-primary
                .panel-heading
                    h2 Mechanics
                .panel-body
                    div
                        p.question Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec sapien scelerisque, mollis justo at, cursus ante.

                    hr

                    div
                        p.answer

        .container
            .panel.panel-default
                .panel-heading
                    h2 API
                .panel-body
                    p To be updated