extends html

block content
    .container
        .panel.panel-default
            .panel-body
                a.btn.btn-default(href="/selection") Selection
                a.btn.btn-default(href="/replacement") Replacement