extends html

block content
    script(type="text/coffeescript", src="coffee/replacement.coffee")
    .container
        p.question Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec sapien scelerisque, mollis justo at, cursus ante.

    hr

    .container
        p.answer