body {
    padding-top: 50px;

    h1.title {
        font-size: 48px;
    }

    p.question {
        overflow: hidden;

        > span {
            display: inline-block;

            margin: 10px 0;

            &.hover {
                color: #fff;
                background-color: #5bc0de;
                border-color: #46b8da;
            }

            &.punc {
                &.hover {
                    background-color: #fff;
                    border: none;
                    color: #000;
                }
            }

            &.selected {
                color: #fff;
                background-color: #5cb85c;
                border-color: #4cae4c;

                &:hover {
                    color: #fff;
                    background-color: #f0ad4e;
                    border-color: #eea236;
                }
            }

            > span {
                display: inline-block;

                margin: 10px 5px;
            }
        }
    }

    p.answer {
        > span {
            display: inline-block;

            margin: 10px 0;

            > span {
                display: inline-block;

                margin: 10px 5px;
            }
        }
    }

    .chosen {
        display: inline-block;
        border: 1px solid gray;
        border-radius: 5px;
        display: none;

        span {
            margin: 10px;
            display: inline-block;
        }
    }
}